body {
    background: #ECF0F1!important;
}

//Margin bottom
@for $i from 1 through 30 {
    .margin-bottom-#{$i} {
        margin-bottom: 0px + $i;
    }
}

//Font-size
@for $i from 1 through 50 {
    .font-size-#{$i} {
        font-size: 0px + $i;
    }
}

//Margin top
@for $i from 1 through 30 {
    .margin-top-#{$i} {
        margin-top: 0px + $i;
    }
}

//padding
@for $i from 1 through 30 {
    .padding-#{$i} {
        padding: 0px + $i;
    }
}

//Margin left
@for $i from 1 through 30 {
    .margin-left-#{$i} {
        margin-left: 0px + $i;
    }
}

//Margin right
@for $i from 1 through 30 {
    .margin-right-#{$i} {
        margin-right: 0px + $i;
    }
}

//Margin right
@for $i from 1 through 8 {
    $width: percentage(1 / $i);
    .col-#{$i} {
        width: $width !important;
    }
}

.mouse{
    cursor: pointer;
}

.margin-auto{
    margin: auto;
}

.text-gray{
    color: rgb(192, 192, 192);
}

.text-blue{
    color: #4A90D8;
    font-weight: bold;
}

.album-style{
    background: #FFFFFF;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #dee1e2;
}

.title-album{
    border-bottom: 1px solid gray;
}

.time-music{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.name-music{
    color: #292929;;
    margin-left: -15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
}